<% layout('/layout/boilerplate') %> 
<div class="row">
  <h1 class="text-center">Register your Company</h1>
  <div class="col-6 offset-3">
    <form action="/companies" method="POST">
      <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" type="text" id="name" name="company[name]" placeholder="Company Name">
      </div>
      <div class="mb-3">
        <label class="form-label" for="company-type">Company Type:</label>
        <input class="form-control" type="text" id="company-type" name="company[type]" placeholder="Grower">
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input class="form-control" type="text" id="image" name="company[image]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input class="form-control" type="text" id="location" name="company[location]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Company Type:</label>
        <textarea class="form-control" type="text" id="description" name="company[description]"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Add Your Company</button>
      </div>
    </form>
    <a href="/companies">Go Back</a>
  </div>
</div>





