<% layout('/layout/boilerplate') %> 
  <h1>All Users</h1>
  <a href="/users/new">Create New User</a>
  <ul>
    <% for(let user of users){ %>
      <li><a href="users/<%= user._id %>"><%= user.name %></a></li>
    <% } %> 
  </ul>
